body {
    background-color: gray;
}

nav ul li{
    list-style-type: none;
}

nav ul a{
    color: white;
    text-decoration: none;
}

nav ul a:hover{
    text-decoration: underline;
}

.wrapper {
    margin: auto;
}